.wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;

  position: absolute;
  bottom: 20px;
  left: 0px;

  span {
    color: #707070;
    font-size: 14px;
    margin-right: 20px;
  }

  button {
    margin-right: 30px;
    width: 7em;
    height: 40px;
  }
}
