.wrapper {
  // padding-top: 50px;
  padding-bottom: 50px;
  background-color: white;

  .header {
    display: flex;
    justify-content: space-between;

    .text {
      margin-bottom: 20px;
      font-size: 14px;
    }
    .textGray {
      color: #707070;
    }

    .socialHandles {
      a {
        margin-right: 10px;

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;

    .logo {
      .image {
        height: 44px;
      }
    }

    .linksWrapper {
      width: 70%;
      display: flex;
      justify-content: space-between;
    }

    .col {
      display: flex;
      flex-direction: column;
      color: #707070;

      div {
        margin-bottom: 5px;
      }
    }

    .links {
      .link {
        color: #707070;
        text-decoration: none;
        margin-bottom: 5px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .wrapper {
    .main {
      flex-direction: column;

      .logo {
        order: 2;
        margin-top: 30px;
      }

      .linksWrapper {
        width: 100% !important;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .wrapper {
    .header {
      flex-direction: column;

      .left {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .right {
        display: flex;
        flex-direction: column;
        align-items: center;

        .text {
          div {
            text-align: center;
          }
        }
      }
    }

    .main {
      .linksWrapper {
        align-items: center;
        flex-direction: column;

        .col {
          width: 300px;
          text-align: center;
          margin-bottom: 15px;
        }
      }
    }
  }
}
