@import "../../utils/variables.scss";

.withPadding {
  position: relative;
  .graphic {
    position: absolute;
    left: 0;
    top: 400px;

    z-index: -1;
    img {
      width: 250px;
    }
  }
  .wrapper {
    display: flex;
    justify-content: space-between;

    p.error {
      color: red;
      margin-top: -10px;
      margin-bottom: 1em;
    }

    .left {
      padding-top: 250px;
      z-index: 3;

      .header {
        * {
          font-family: "Mulish", sans-serif;
        }

        font-size: 50px;
        font-weight: 700;
        margin-bottom: 30px;

        div:first-child {
          margin-bottom: 0px;
        }
        div:last-child {
          margin-top: -5px;
          color: $themePurple;
        }
      }

      .header.mobile {
        display: none;
        span {
          color: $themePurple;
        }
      }

      .subheader {
        color: #646464;
      }

      .subheader.mobile {
        display: none;
      }
    }
    .right {
      padding-top: 100px;
      position: relative;
      z-index: 1;

      img {
        max-width: 850px;
        position: absolute;
        top: 150px;
        right: 0;
      }
    }
    .cta {
      margin-top: 50px;

      form {
        .textField {
          margin-bottom: 20px;
          input {
            width: 250px;
            border-radius: 5px;
            height: 40px;
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
            border: none;
            padding-left: 10px;
          }
        }
      }
      button {
        margin-right: 10px;
        width: 250px !important;
        z-index: 2;
      }
    }
  }
}

/* Graphic becomes smaller */
@media screen and (max-width: 1250px) {
  .withPadding {
    .wrapper {
      .left {
        padding-top: 100px;
      }
      .right {
        img {
          width: 600px;
        }
      }
    }
  }
}

/* Graphic becomes smaller still */
@media screen and (max-width: 1150px) {
  .withPadding {
    .wrapper {
      .right {
        img {
          top: 200px !important;
        }
      }
    }
  }
}

/* Graphic becomes smaller and smaller still */
@media screen and (max-width: 900px) {
  .withPadding {
    .wrapper {
      .right {
        img {
          width: 500px !important;
          top: 300px !important;
        }
      }
    }
  }
}

/* Switch to column */
@media screen and (max-width: 650px) {
  .withPadding {
    .graphic {
      top: 70px;

      img {
        width: 110px;
      }
    }

    .wrapper {
      flex-direction: column;

      .left {
        padding-top: 50px;
        order: 2;

        .header {
          font-size: 40px;
        }

        .cta {
          width: 100%;
          form {
            width: 100%;

            input {
              width: 100% !important;
            }
            button {
              width: 100% !important;
            }
          }
        }
      }
      .right {
        order: 1;
        display: flex;
        justify-content: center;

        position: static;
        img {
          position: static;
          width: 500px !important;
          top: 300px !important;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .withPadding {
    .wrapper {
      .header {
        display: none;
      }
      .header.mobile {
        display: block !important;
      }
      .subheader {
        display: none;
      }
      .subheader.mobile {
        display: block !important;
      }
      .right {
        img {
          width: 100% !important;
        }
      }
    }
  }
}
