.wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0px 95px;

  position: absolute;
  bottom: 40px;
  width: 100%;

  margin-top: auto;

  position: relative;
  div {
    color: #707070;
    font-size: 14px;
    position: absolute;
    right: 30px;
  }

  .instructionsBtn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    font-size: 0.9rem;
    color: #707070;
    text-decoration: underline;
    bottom: -4em;
  }

  button.nextBtn {
    position: absolute;
    right: 200px;
  }

  button.prevBtn {
    position: absolute;
    left: 100px;
    color: #707070;
    font-size: 14px;
  }

  button.prevBtn.apti {
    left: 310px;
  }
}

@media screen and (max-width: 900px) {
  .wrapper {
    padding: 0px 20px;

    button.prevBtn {
      left: 20px;
    }

    button.prevBtn.apti {
      left: 285px;
    }
  }
}
