@import "../../../utils/variables.scss";

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;

    .header {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 30px;

        span:first-child {
            font-weight: 500;
            font-size: 18px;
        }

        span:nth-child(2) {
            font-size: 14px;
            color: $themePurple;
        }
    }

    .body {
        line-height: 32px;
        color: #707070;
    }

    .footer {
        position: absolute;
        bottom: 20px;
        padding-right: 20px;
        padding-left: 20px;
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-items: center;

        span {
            color: #707070;
            font-size: 14px;
            margin-right: 20px;
        }

        button.light {
            margin-right: 10px;
        }
    }
}
