@import "../../../../utils/variables.scss";

.wrapper {
  position: relative;
  background-color: white;
  width: 800px;
  padding-bottom: 80px !important;
  padding: 20px;
  box-shadow: 0 1.5px 12.5px 0 rgba(0, 0, 0, 0.11);
  position: relative;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 30px;
    color: $themePurple;
    text-align: center;
  }

  .body {
    display: flex;
    flex-direction: column;
    width: 100%;

    p {
      margin-bottom: 1em;
      text-align: justify;
      padding-inline: 0.1em;
      max-width: 100%;
    }
    div.image {
      display: flex;
      justify-content: center;
    }
    img {
      max-width: 320px;
      height: auto;
    }

    img.checkingInfo {
      max-width: 350px;
    }
  }

  .footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 40px;
    background-color: $themePurple;
    color: white;
    border-radius: 5px;
  }
}

@media screen and (max-width: 810px) {
  .wrapper {
    padding: 10px 10px;
    width: 95% !important;

    .inner {
      padding: 10px;
      .tableWrapper {
        table {
          width: 100% !important;
          padding: 10px 10px;
        }
      }
    }
  }
}
