@import "../../../../utils/variables.scss";

.wrapper {
    width: 100%;
    padding: 10px 10px;
    background-color: $themePurple;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.wrapper.dragActive {
    background-color: green !important;
    color: white;
    opacity: 0;
}

.wrapper.dropped {
    width: $wvpDropWidth;
    height: $wvpDropHeight;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
}

@media screen and (max-width: 1450px) {
    .wrapper.dropped {
        max-width: 180px !important;
        min-width: 180px !important;
    }
}
